html, body {
    margin: 1em;
    padding: 1em;
}

h1 {
    text-align: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container {
    position: relative;
    background-color: lightblue;
    display: table;
}
#sec1 {
    margin: 1em;
    width: 20%;
    background-color: lightcyan;
    display: inline-block;
}
